useDynLib(sraplus, .registration=TRUE)
useDynLib(sraplus_tmb)
importFrom(Rcpp, evalCpp)
importFrom(TMB, MakeADFun)
exportPattern("^[[:alpha:]]+")
importFrom(magrittr,"%>%")

importFrom("stats", "median", "quantile", "rnorm", "runif", "sd")
